@model Topic

@{
    ViewData["Title"] = "Exam";
}

<div class="card text-center">
    <div class="card-header">
        @Model.Title
    </div>
    <div class="card-body">
        <textarea readonly="readonly" style="width: 100%; height: 250px; resize: none">@Model.Body</textarea>
    </div>
</div>

<div class="mt-4">
    <div class="row">
        <div class="col-md-6">

            <!-- QUESTİON 1 -->
            <div class="card mt-4">
                <div class="card-body">
                    <p class="card-text">@Model.Questions[0].QuestionsName</p>
                </div>
                <div class="card-body">
                    <!-- OPTION A -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Q1" id="q1o1">
                        <label class="form-check-label" for="q1o1">
                            @Model.Questions[0].Options1
                        </label>
                    </div>

                    <!-- OPTION B -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Q1" id="q1o2">
                        <label class="form-check-label" for="q1o2">
                            @Model.Questions[0].Options2
                        </label>
                    </div>

                    <!-- OPTION C -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Q1" id="q1o3">
                        <label class="form-check-label" for="q1o3">
                            @Model.Questions[0].Options3
                        </label>
                    </div>

                    <!-- OPTION D -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Q1" id="q1o4">
                        <label class="form-check-label" for="q1o4">
                            @Model.Questions[0].Options4
                        </label>
                    </div>
                </div>
            </div>

            <!-- QUESTİON 3 -->
            <div class="card mt-4">
                <div class="card-body">
                    <p class="card-text">@Model.Questions[2].QuestionsName</p>
                </div>
                <div class="card-body">
                    <!-- OPTION A -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Q3" id="q3o1">
                        <label class="form-check-label" for="q3o1">
                            @Model.Questions[2].Options1
                        </label>
                    </div>

                    <!-- OPTION B -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Q3" id="q3o2">
                        <label class="form-check-label" for="q3o2">
                            @Model.Questions[2].Options2
                        </label>
                    </div>

                    <!-- OPTION C -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Q3" id="q3o3">
                        <label class="form-check-label" for="q3o3">
                            @Model.Questions[2].Options3
                        </label>
                    </div>

                    <!-- OPTION D -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Q3" id="q3o4">
                        <label class="form-check-label" for="q3o4">
                            @Model.Questions[2].Options4
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <!-- QUESTİON 2 -->
            <div class="card mt-4">
                <div class="card-body">
                    <p class="card-text">@Model.Questions[1].QuestionsName</p>
                </div>
                <div class="card-body">

                    <!-- OPTION A -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Q2" id="q2o1">
                        <label class="form-check-label" for="q2o1">
                            @Model.Questions[1].Options1
                        </label>
                    </div>

                    <!-- OPTION B -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Q2" id="q2o2">
                        <label class="form-check-label" for="q2o2">
                            @Model.Questions[1].Options2
                        </label>
                    </div>

                    <!-- OPTION C -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Q2" id="q2o3">
                        <label class="form-check-label" for="q2o3">
                            @Model.Questions[1].Options3
                        </label>
                    </div>

                    <!-- OPTION D -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Q2" id="q2o4">
                        <label class="form-check-label" for="q2o4">
                            @Model.Questions[1].Options4
                        </label>
                    </div>
                </div>
            </div>

            <!-- QUESTİON 4 -->
            <div class="card mt-4">
                <div class="card-body">
                    <p class="card-text">@Model.Questions[3].QuestionsName</p>
                </div>
                <div class="card-body">

                    <!-- OPTION A -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Q4" id="q4o1">
                        <label class="form-check-label" for="q4o1">
                            @Model.Questions[3].Options1
                        </label>
                    </div>

                    <!-- OPTION B -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Q4" id="q4o2">
                        <label class="form-check-label" for="q4o2">
                            @Model.Questions[3].Options2
                        </label>
                    </div>

                    <!-- OPTION C -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Q4" id="q4o3">
                        <label class="form-check-label" for="q4o3">
                            @Model.Questions[3].Options3
                        </label>
                    </div>

                    <!-- OPTION D -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Q4" id="q4o4">
                        <label class="form-check-label" for="q4o4">
                            @Model.Questions[3].Options4
                        </label>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-4">
        <button class="btn btn-info text-center">SINAVI TAMAMLA</button>
    </div>
</div>